/*Bagian header @novrians */

header {
height: 60px;
width: 100%;
position: fixed;
z-index: 10;
background-color: white;
opacity: 0.7;
font-family: Poppins, sans-serif;
letter-spacing:1.5px;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s;
}

.header-wrapper {
  line-height: 60px;
}

.header-kiri {
  display: block;
  float: left;
}

.header-kiri a {
  display: block;
  float: left;
  width: 100px;
}

.header-kanan {
  display: block;
  float: right;
}

.header-kanan a {
  display: block;
  float: right;
  width: 100px;
}

header span {
  display: none;
  text-align: center;
  line-height: 40px;
}

header span:hover {
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.menu {
  float: left;
  width: 50px;
}

.login {
  float: right;
  width: 50px;
}

.header-hover a:hover {
  background-color: black;
  color: white;
}

/* Bagian utama @saktya*/

.home {
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url(top4.jpg);
  background-size: cover;
  text-align:center;

}

.landing-text {
	color: white;
	text-transform: uppercase;
	width:auto;
	margin: auto;
	text-align: center;
}

.landing-text h1 {
	font-size : 400%;
	font-weight: 700;
	letter-spacing: 20px;
	padding: 10px 0;
}

.landing-text h3 {
	font-size : 200%;
	letter-spacing: 5px;
}

.btn {
  padding: 12px 40px;
  display: inline-block;
  color: white;
  opacity: 1;
  border-radius: 4px;
  background-color: black;
  margin: 20px;
  border: 2px solid white;
  font-family: Poppins, sans-serif;
  letter-spacing: 5px;

}

.btn:hover {
  opacity: 0.8;
}

.btn-start {
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.main-container {
	text-align: center;
	background:#eee;
  padding-bottom:90px;
}

.heading {
	padding-top: 80px;
	color: #444;
	font-size: 20px;
	border-bottom: 2px solid #884909;
	width:280px;
	margin: auto;
	line-height: 80px;
  font-family: Poppins, sans-serif;
  letter-spacing:5px;
}

.sub-container {
	max-width: 1200px;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.members {
	margin: 10px;
	padding: 20px;
	max-width: 20%;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.3s;
}

.members:hover {
	background: #ddd;
}


.members img {
	width: 200px;
	height: 200px;
	border: 1px solid #E1E0DE;
	border-radius: 50%;
	filter: grayscale(100%);
 	cursor: pointer;
  transition: 400ms;
}

.members img:hover {
	filter: grayscale(0);
}

.name {
	padding: 20px;
	color: #8A3E07;
	font-size: 14px;
	text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.ocp {
	font-style: italic;
	color: #999;
  font-family:Yanone Kaffeesatz, sans-serif;
  letter-spacing:2px;
}

.desc {
	margin: 20px 0;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	color: #4e4e4e;
}

.social-media {
	margin: 10px;
}

.social-media a {
	display: inline-block;
	height: 20px;
	width: 30px;
	transition: 0.2s;
}

.social-media a i:hover {
	color:green;

}

.social-media a i {
	color:#444;
}


/* Bagian tambahan Shannen*/

*{
  box-sizing:border-box;
  text-decoration:none;
  margin:0;
	padding:0;
}

/*Bagian Intro*/
.body {
  max-width: 1200px;
  margin:auto;
}

.intro {
  padding-top:150px;
  padding-bottom:100px;
  text-align:center;
  height:350px;
  background-color:#eeeeee;
  background-image:url(unsplash_researchandmeeting.jpg);
  background-size:cover;
  filter:grayscale(65%);
}

.intro h1, h3 {
  font-family: Poppins, sans-serif;
  letter-spacing: 5px;
  color:#ffffff;
}

.intro h3{
  font-size:14px;

}

p {
  font-family: Roboto, sans-serif;
  font-size:15px;
}

.intro h1{
  color:##ffffff;
}

.work {
  float:left;
  width:25%;
}

.workflows {
  text-align:center;
  padding-top:100px;
  background-color:#eeeeee;
}

/* Membuat img abstract black and white kalo di hover*/
.abstract {
  border-radius:50%;
  filter:grayscale(100%);
  cursor:pointer;
  transition:500ms;
  margin-bottom:20px;
}

.abstract:hover {
  border-radius:0%;
  filter:grayscale(0);
}

.text-contents {
  display:inline-block;
  margin-top:0px;
  font-size:14px;

}

.text-contents1:hover{
  color:#E0719E;
}

.text-contents2:hover{
  color:#F6E049;
}

.text-contents3:hover{
  color:#7FD6C2;
}

.text-contents4:hover{
  color:#EEBED3;
}

h4 {
  font-family: Poppins, sans-serif;
  color:#8A3E07;
  font-size:20px;
  margin-bottom:10px;
}

/*Bagian extraextra-wrapper*/
.extraextra-wrapper {
  text-align:center;
  padding-bottom:160px;
  background-color:#eeeeee;
}

/* Bagian animasi 3d button di-klik */

.btn1 {
  font-family:Yanone Kaffeesatz, sans-serif;
  color:#3d3d3d;
}

.clickhereone {
  background-color: #cd84f1;
  border-radius: 10px;
  cursor:pointer;
  box-shadow: 0 10px #c56cf0;
  padding:20px 20px;
}

.clickhereone:active {
  position:relative;
  top:10px;
  box-shadow:none;

}

.clickheretwo {
  background-color: #ffcccc;
  border-radius: 10px;
  cursor:pointer;
  box-shadow: 0 10px #ffb8b8;
  padding:20px 20px;
}

.clickheretwo:active {
  position:relative;
  top:10px;
  box-shadow:none;

}

/*Merapihkan Margin dsb bagian extraextra-wrapper*/
.team {
  color:#c56cf0;
}

.business {
  color: #ffb8b8;
}

.illust2 {
  margin-top:100px;
  margin-bottom:25px;
}

.illust1 {
  padding-top:150px;
  margin-bottom:25px;
}

.extraextra-wrapper btn {
  display:inline-block;

}

h2 {
  font-family: Poppins, sans-serif;
  margin-bottom:35px;
  margin-top:0px;
  color:#8A3E07;
  --animate-duration: 3s;
  --animate-delay: 2s;
}

/*Men-grayscale kan img illust*/
.illust1 {
  filter:grayscale(100%);
  cursor:pointer;
  transition:500ms;
}

.illust1:hover {
  filter:grayscale(0);
}
.illust2 {
  filter:grayscale(100%);
  cursor:pointer;
  transition:500ms;
}

.illust2:hover {
  filter:grayscale(0);
}

/*Bagian footer @novrians */
footer{
height: 60px;
width: 100%;
background-color: #444;
text-align: center;
font-size: 12px;
color: white;
font-weight: lighter;
}

footer a {
  text-decoration: none;
  color: white;
  opacity: 0.4;
  margin: 0 20px;
}

.contact a:hover {
 opacity: 1;
}

footer span {
  font-style: italic;
  opacity: 0.4;
}

.footer-wrapper {
  padding: 10px 0;
  line-height: 20px;
}
